{% extends 'adminbase.html' %}	
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/adminhome">Home</a>
    </li>
    <li class="breadcrumb-item active">Home</li>
</ol>
<!---->
<!--// mian-content -->
<!-- banner -->

<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-5 py-4">
        <h3 class="tittle text-center mb-lg-5 mb-3">Welcome Admin</h3>
        <div class="row contact-main-info mt-5">
            <div class="col-md-7 contact-right">
                <!-- <form action="#" method="post">
                    <div class="form-grp-w3layouts">
                        <input type="text" name="Name" placeholder="Name" required="">
                    </div>
                    <div class="form-grp-w3layouts">
                        <input type="email" class="email" name="Email" placeholder="Email" required="">
                    </div>
                    <div class="form-grp-w3layouts">
                        <input type="text" name="Phone no" placeholder="Phone" required="">
                    </div>
                    <div class="form-grp-w3layouts">
                        <textarea name="Message" placeholder="Message" required=""></textarea>
                    </div>
                    <div class="read mt-3">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form> -->
            </div>
            <!-- <div class="col-md-5 contact-left">
                <div class="address">
                    <h5>Address:</h5>
                    <p><span class="fa fa-home"></span>1234 lock, Charlotte, North Carolina, 
                        <br> United States.</p>
                </div>
                <div class="address address-mdl">
                    <h5>Phones:</h5>
                    <p><span class="fa fa-phone"></span> +1(23) 4567 7890</p>
                    <p><span class="fa fa-mobile"></span>+1(23) 4567 7891</p>
                </div>
                <div class="address">
                    <h5>Email:</h5>
                    <p><span class="fa fa-envelope"></span> <a href="mailto:mail@example.com">mail@example.com</a></p>
                    <p><span class="fa fa-globe"></span> <a href="mailto:website@example.com">website@example.com</a></p>
                </div>
            </div> -->
        </div>


    </div>
</section>

{% endblock %}