<style>
    td,th{
       padding:10px; 
    }
    </style>
    {% extends 'contractorbase.html' %}	
    {% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/contractorhome">Home</a>
        </li>
        <li class="breadcrumb-item active">Work request</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- banner -->
    <section style="margin-left:-50px;" class="ab-info-main py-md-5 py-4">
        <div class="container py-md-5 py-4">
            <h3 class="tittle text-center mb-lg-5 mb-3">Work request</h3>
            <div class="row contact-main-info mt-5">
                <div class="col-md-7 contact-right">
                        <table border="1">
                                <tr>
                                    
                                    <th>User Name</th>
                                    <th>Work Description</th>
                                    <th>Place</th>
                                    <th colspan="3">Date</th>
                                    
                                </tr>
                                {% for d in data %}
                                <tr>
                                    <td>{{d.8}}</td>
                                    <td>{{d.2}}</td>
                                    <td>{{d.4}}</td>
                                    <td>{{d.3}}</td>
                                    <td><a style="color: blue;" href="/contractorviewworkplace?id={{d.0}}">View place</a></td>
                                    <td><a style="color: blue;" href="/contractoraddtender?id={{d.0}}">Add tender call</a></td>
                                </tr>
                                {% endfor %}
                                </table>
                    </form>
                </div>
                
            </div>
    
    
        </div>
    </section>
    
    {% endblock %}
    