<style>
        td,th{
           padding:5px; 
        }
        </style>
        {% extends 'contractorbase.html' %}	
        {% block content %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/contractorhome">Home</a>
            </li>
            <li class="breadcrumb-item active">Work</li>
        </ol>
        <!---->
        <!--// mian-content -->
        <!-- banner -->
        <section class="ab-info-main py-md-5 py-4">
            <div class="container py-md-5 py-4">
                <h3 class="tittle text-center mb-lg-5 mb-3">Work</h3>
                <div class="row contact-main-info mt-5">
                    <div class="col-md-12 contact-center">
                            <table border="0" class="text-center">
                                    
                                    {% for d in data %}
                                    <tr>
                                        <td>{{d.2}}:</td>
                                        <td>{{d.3}}</td>
                                    </tr>
                                        
                                    {% endfor %}
                                    </table>
                        </form>
                    </div>
                    
                </div>
        
        
            </div>
        </section>
        
        <style>
            
            td,th{
               padding:10px; 
            }
          </style>
        
        {% endblock %}
        