<style>
    td,th{
       padding:5px; 
    }
    </style>
    {% extends 'contractorbase.html' %}	
    {% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/contractorhome">Home</a>
        </li>
        <li class="breadcrumb-item active">Tender call</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- banner -->
    <section style="margin-left:-50px;" class="ab-info-main py-md-5 py-4">
        <div class="container py-md-5 py-4">
            <h3 class="tittle text-center mb-lg-5 mb-3">Tender Call</h3>
            <div class="row contact-main-info mt-5">
                <div class="col-md-7 contact-right">
                    <form  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-grp-w3layouts">
                            <input type="text" name="Amount" placeholder="Your Amount" required="">
                        </div>
                        
                        
                        <div class="form-grp-w3layouts">
                            Starting date: <input type="date" name="Sdate" placeholder="Starting date" required="">
                        </div>
                        
                        <div class="form-grp-w3layouts">
                            Ending date: <input type="date" name="Edate" placeholder="Ending date" required="" >
                        </div>
                      
                            <div class="form-grp-w3layouts">
                                <textarea name="Tender" placeholder="Tender call description" required=""></textarea>
                            </div>
                        <div class="read mt-3">
                            <button type="submit" class="btn">Add</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 contact-left">
                    <h3>Other tender amounts are: </h3>
                    <table>
                    {% for d in data %}
                        <tr><td>{{d.0}}</td></tr>
                    {% endfor %}
                </table>
            </div>
            </div>
    
    
        </div>
    </section>
    <script>
            msg="{{msg}}";
            if(msg!="")
              alert(msg);
            </script>
    {% endblock %}
    