<style>
    td,th{
       padding:10px; 
    }
    </style>
    {% extends 'policebase.html' %}	
    {% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/policehome">Home</a>
        </li>
        <li class="breadcrumb-item active">Labors for NOC</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- banner -->
    <section style="margin-left:-50px;" class="ab-info-main py-md-5 py-4">
        <div class="container py-md-5 py-4">
            <h3 class="tittle text-center mb-lg-5 mb-3">Labors for NOC</h3>
            <div class="row contact-main-info mt-5">
                <div class="col-md-7 contact-right">
                        <table border="1">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Place</th>
                                    <th>Photo</th>
                                    <th colspan="2">Contact</th>
                                </tr>
                                {% for d in data %}
                                <tr>
                                    <td>{{d.0}}</td>
                                    <td>{{d.2}}</td>
                                    <td>{{d.3}}</td>
                                    <td>{{d.4}}</td>
                                    <td><img src="../static{{d.9}}" height="100px" width="100px"></td>
                                    <td>{{d.7}}</td>
                                    <td><a style="color: blue;" href="/policeviewlabordetails?id={{d.0}}">View details</a></td>
                                    <td><a style="color: blue;" href="/verifylabor?img={{d.9}}">Verify</a></td>
                                </tr>
                                {% endfor %}
                                </table>
                    </form>
                </div>
                
            </div>
    
    
        </div>
    </section>
    {% if result %}
    {% if result == 'unknown' %}
    <script>
        alert("Not found in Criminal Database");
    </script>
    {%else%}
    <script>
        alert("Found similar person in criminal database: \r\n Criminal id : {{result.1}}\r\n Criminal Name: {{result.0}}");
    </script>
    {% endif %}
    {% endif %}
    {% endblock %}
    