<style>
    td,th{
       padding:10px; 
    }
    </style>
    {% extends 'policebase.html' %}	
    {% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/policehome">Home</a>
        </li>
        <li class="breadcrumb-item active">Labor Details</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- banner -->
    <section style="margin-left:-50px;" class="ab-info-main py-md-5 py-4">
        <div class="container py-md-5 py-4">
            <h3 class="tittle text-center mb-lg-5 mb-3">Labor Details</h3>
            <div class="row contact-main-info mt-5">
                <div class="col-md-7 contact-right">
                        <table>
                                
                                {% for d in data %}
                                
                                    <tr><td colspan="2"><img src="../static{{d.9}}" height="250px" width="200px"></td></tr>
                                    <tr><td>ID </td><td>: {{d.0}}</td></tr>
                                    <tr><td>NAME </td><td>: {{d.2}}</td></tr>
                                    <tr><td>ADDRESS </td><td>: {{d.3}}</td></tr>
                                    <tr><td>PLACE </td><td>: {{d.4}}</td></tr>
                                    <tr><td>CONTACT </td><td>: {{d.7}}</td></tr>
                                    <tr><td>IDENTIFICATION MARK 1 </td><td>: {{d.5}}</td></tr>
                                    <tr><td>IDENTIFICATION MARK 2 </td><td>: {{d.6}}</td></tr>
                                    <tr><td>AADHAR </td><td>: {{d.8}}</td></tr>
                                    <tr><td>HEIGHT </td><td>: {{d.10}}</td></tr>
                                    <tr><td>WEIGHT </td><td>: {{d.11}}</td></tr>
                                    <tr><td>COLOR COMPLEXION </td><td>: {{d.12}}</td></tr>
                                    <tr><td>POLICE STATION IN CHARGE </td><td>: {{d.19}}</td></tr>
                            
                                {% endfor %}
                                </table>
                    </form>
                </div>
                
            </div>
    
    
        </div>
    </section>
    {% for d in data %}
    <div style="margin-left: 100px; margin-bottom:50px ;">
        <a style="color: red;" href="/policeapprovelabors?id={{d.0}}&status=rejected"><h4>Reject</h4></a>
    </div>
    <div style="margin-left: 250px; margin-bottom:50px ; margin-top: -80px;">
        <a style="color: green;" href="/policeapprovelabors?id={{d.0}}&status=approved"><h4>Approve</h4></a>
    </div>
    {% endfor %}
    {% endblock %}
    