<style>
	td,
	th {
		padding: 5px;
	}
</style>
{% extends 'userbase.html' %} {% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="/userhome">Home</a>
	</li>
	<li class="breadcrumb-item active">Change password</li>
</ol>
<!---->
<!--// mian-content -->
<!-- banner -->
<section style="margin-left: -50px" class="ab-info-main py-md-5 py-4">
	<div class="container py-md-5 py-4">
		<h3 class="tittle text-center mb-lg-5 mb-3">Change password</h3>
		<div class="row contact-main-info mt-5">
			<div class="col-md-12 contact-center">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="form-grp-w3layouts">
						<input
							type="password"
							name="Current"
							placeholder="Current password"
							required=""
							value="{{d.0}}"
						/>
					</div>

					<div class="form-grp-w3layouts">
						<input
							type="password"
							name="New"
							id="pwd1"
							placeholder="New password"
							required=""
							value="{{d.0}}"
							pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
						/>
						<input type="checkbox" onclick="Toggle1()" /> Show password
					</div>
					<div class="form-grp-w3layouts">
						<input
							type="password"
							name="Confirm"
							id="pwd2"
							onblur="checkpwd()"
							placeholder="Confirm password"
							required=""
							value="{{d.0}}"
							pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
						/>
						<input type="checkbox" onclick="Toggle2()" /> Show password
					</div>
					<div class="read mt-3 text-center">
						<button type="submit" class="btn">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script>
	msg = '{{msg}}';
	if (msg != '') alert(msg);
	function checkpwd() {
		pwd1 = document.getElementById('pwd1').value;
		pwd2 = document.getElementById('pwd2').value;
		if (pwd1 != pwd2) {
			alert('Please check the new password');
			document.getElementById('pwd1').value = '';
		}
	}
	function Toggle1() {
		var temp = document.getElementById('pwd1');
		if (temp.type === 'password') {
			temp.type = 'text';
		} else {
			temp.type = 'password';
		}
	}
	function Toggle2() {
		var temp = document.getElementById('pwd2');
		if (temp.type === 'password') {
			temp.type = 'text';
		} else {
			temp.type = 'password';
		}
	}
</script>

{% endblock %}
