<style>
            td,th{
   text-align: center;
   padding: 7px;
   border: none;
}
th{
    background-color:blue;
    color:white;
}
table{
    border:none;
    margin-left:60%;
}
    </style>
    {% extends 'userbase.html' %}	
    {% block content %}

    <!---->
    <!--// mian-content -->
    <!-- banner -->
    <section style="margin-left:-50px;" class="ab-info-main py-md-5 py-4">
        <div class="container py-md-5 py-4">
            {% if data %}
            <center><h3 style="color:blue;">Labors for your work</h3></center>
            <div class="row contact-main-info mt-5">
                <div class="col-md-7 contact-right">
                        <table border="1">
                                <tr>
                                   
                                    <th>Global ID</th>
                                    <th>Name</th>
                                    <th>Photo</th>
                                </tr>
                                {% for d in data %}
                                <tr>
                                    <td>{{d.glid.id}}</td>
                                    <td>{{d.glid.labid.name}}</td>
                                    <td><img src="static/media/{{d.glid.labid.photo}}" height="150px" width="120px"></td>
                            
                                </tr>
                                {% endfor %}
                                </table>
                                {% else %}
                                <center><h2>No Data Found</h2></center>
                                {% endif %}
                    </form>
                </div>
                
            </div>
    
    
        </div>
    </section>
    
    <style>
        
        td,th{
           padding:10px; 
        }
      </style>
    <script>
            msg="{{msg}}";
            if(msg!="")
              alert(msg);
              
            </script>
    {% endblock %}
    